<footer>
    <div style="display: flex; justify-content: center;">
        <a href="https://github.com/emlautarom1/">
            <img class="icon-light" src="{{ "/images/github-dark.png" }}" alt="GitHub" width="32" height="32">
            <img class="icon-dark" src="{{ "/images/github-light.png" }}" alt="GitHub" width="32" height="32">
        </a>
    </div>
    <span>
        &copy; <time datetime="{{ now }}">{{ now.Format "2006" }}</time> {{ .Site.Author.name }}.
        {{ i18n "generator" | safeHTML }}
    </span>
</footer>
