.highlight> :first-child {
  padding: 1rem 0.5rem;
}

:root:not(.light) .icon-light {
  display: none;
}

:root.light .icon-dark {
  display: none;
}

.table-wrapper {
  width: 100%;
  overflow-x: scroll;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 1rem 0;
  white-space: nowrap;
}

table td,
table th {
  padding: 8px 4px;
}

table tr:nth-child(even) {
  background-color: var(--grey-3);
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: start;
  background-color: var(--blue);
  color: white;
}
